body{
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
}

.nav_h1{
    font-family: "Raleway";
    font-size: 26px;
    font-weight: bold;
}


.navigation{
    display: flex;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
}

#mainsection{
    background-image: url(Img\ \(12\).png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    font-family: "Roboto";
    font-size: 44px;
    font-weight: 900;
}

.main_section_button{

    font-family: "Roboto";
    font-size: 16px;
    font-weight: Bold;
    margin-top: 30px;
}

.button_wrapper{
     display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main_section_ul{

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
}

.main_li{
    font-family: "Roboto";
    font-size: 14px;
    font-weight: bold;
}

.h1_photos{
    font-family: "Roboto";
    font-size: 36px;
    font-weight: bold;
}

.section2_h1{
    padding-left: 600px;
    padding-bottom: 50px;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: bold;
}

.section2_div{
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
}

.footer{
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    background-color: rgba(47, 48, 58, 1);
}

.container{
    width: 1630px;
    margin: 0 auto;
    padding: 0 15px;
}


.ul_navigation{
    display: flex;
    justify-content: space-around;
    width: 1200px;
    flex-wrap: wrap;
}

.ul_navigation:nth-child(3){
    padding-right: 200px;
}


.ourteam{
    display: flex;
    width: 1500px;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
}

.photos_work{
    display: flex;
    width: 1500px;
    justify-content: space-around;
}

.h1_photos{
    padding-left: 600px;
    padding-bottom: 70px;
}



.main_li_details::before{
    content: "";
    display: block;
    width: 200px;
    height: 200px;
    background-image: url(pictures.jpg);
    background-position: center;
    background-repeat: no-repeat;
}   

.main_li_punctual::before{
    content: "";
    display: block;
    background-image: url(group2.jpg);
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;

}

.main_li-planning::before{
    content: "";
    display: block;
    background-image: url(group3.jpg);
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
}

.main_li-modern::before{
    content: "";
    display: block;
    background-image: url(group4.jpg);
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
}


.our_team{



filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


}

.team_li1,.team_li2,.team_li3,.team_li4{
    background-image: url(cardbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 250px;
    height: 428px;
}

.svg_icons{
    width: 24px;
    height: 24px;
}


.team_li1_icons{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 16px;
}


.ul_clients1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 94px;
}

.h1_clients{

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;



}

.ul_clients_photo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;


}

.main_section_button{
    color: white;
    cursor: pointer;
}

.info_studio:hover{
    color: rgb(5, 184, 238);
    cursor: pointer;
}

.phone_number{
    color: rgba(117, 117, 117, 1);
}

.info_studio{
    color:rgba(117, 117, 117, 1);
}

.phone_number:hover{
        color: rgb(5, 184, 238);
    cursor: pointer;
}

.join_footer{


font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;


}

.photos_footer{
    width: 44px;
    height: 44px;
}

.footer_ul2{
    display: flex;
    justify-content: center;
    margin-left: 100px;
}


.footer_h1{
    padding-bottom: 20px;
}


.svg_logo_footer{
    width: 33px;
    height: 33px;
}

.footer_logos{
    display: flex;
    gap: 10px;

}

.testtt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.footer-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 70px;
}

.join_footer{
    margin-bottom: 20px;
}



.footer_logos:hover{
    cursor: pointer;
}

.svg_icons:hover{
    cursor: pointer;
}

.header_nav2:hover{
   color: rgb(5, 184, 238);
    cursor: pointer;
}



.svg_photo_mobile{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


.info_studio:hover{
           color: rgb(5, 184, 238);
    cursor: pointer;
}

.phone_number:hover{
      color: rgb(5, 184, 238);
    cursor: pointer;
}


.section_class_text{

position: absolute;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;
background-color: rgb(0, 0, 0);
bottom: 0;
width: 100%;
padding-bottom: 27px;
padding-top: 27px;
opacity: 70%;


}

.li_working{
    position: relative;
}



.backdrop{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.backdrop.is-hidden{
    display: none;
}

.modal{
    background-color: white;
    width: 500px;
    height: 500px;
    padding: 20px;
    border: 20px;
}

.ul_modal{
   margin: 0 auto;
   padding: 0 15px;
   width: 448px;
}

.ul_modal_1{

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;


}

.name_modal{


margin-bottom: 5px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 14px;
letter-spacing: 0.01em;

color: #757575;


}


#username{
    width: 100%;
    height: 32px;
    border-radius: 7px;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;


}

.flex_modal{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.close_button_modal{


  width: 40px;
  height: 40px;
  border: 2px solid #ccc; 
    cursor: pointer;
    border-radius: 20px;     
  background: white; 
  display: flex;
  justify-content: center;
  align-items: center;


}

.close_button_modal:hover{
    color: rgba(33, 150, 243, 1);
}

#username:hover{
    border-color: rgba(33, 150, 243, 1); 
    cursor: pointer;
}

.modal_li{
    margin-top: 10px;
}


#comment{
    width: 450px;
    height: 85px;
    border-radius: 7px;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
}

.button_modal_li{
    width: 200px;
    height: 50px;
    background-color:rgba(24, 140, 232, 1);
    color: white;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 5px solid rgba(24, 140, 232, 1);
    margin-left: 130px;
    margin-top: 5px;

}


.svg_modal{
    width: 30px;
    height: 30px;
    fill: black;
    position:absolute;
    bottom: 62%;
}


.svg_modal2{
    top: 42%;
     width: 30px;
    height: 30px;
    fill: black;
    position:absolute;

}


.svg_modal3{
      top: 48%;
     width: 30px;
    height: 30px;
    fill: black;
    position:absolute;
}


.subscribe_footer{



font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 20px;
color: #FFFFFF;


}

#email_footer{
    width: 350px;
    height: 50px;
    background-color: rgba(47, 48, 58, 1);
 

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
padding-left: 16px;
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;


}



.flex_footer_subscribe{
    display: flex;
}

.button_subscribe{


background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
width: 220px;
height: 60px;
color: white;

margin-left: 40px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.06em;

color: #FFFFFF;



}

.svg_plane_footer{
    width: 10px;
    height: 10px;
}